body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

.keys{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.key{
    border: 3px solid black;
    background-color: rgba(20, 18, 18, 0.8);
    width: 90px;
    height: 70px;
    margin: 10px;
    transition: all 0.07s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-shadow: 0 0 5px black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd{
    color: white;
    font-weight: 800;
    font-size: 30px;
}

.sound{
    color: yellow;
    font-size: 13px;
}